<div class="main-container container-fluid py-2">
  <h1 class="d-flex align-items-center">
    <mat-icon>account_circle</mat-icon>
    <span class="ml-2">Tạo kỹ thuật viên </span>
  </h1>
  <div class="row mx-0 mt-4">
    <div class="col-10 col-md-8 col-lg-6">
      <form>
        <div class="form-group">
          <label for="store-name">Tên </label>
          <input
            type="text"
            class="form-control"
            id="store-name"
            placeholder="Nhập tên kỹ thuật viên"
            name="store-name"
          />
        </div>
        <div class="form-group">
          <label for="store-des">Số điện thoại </label>
          <input class="form-control" placeholder="0999999999" />
        </div>

        <div class="form-group">
          <label for="store-des">Địa chỉ </label>
          <textarea
            class="form-control"
            rows="3"
            placeholder="2/22 Đường ABC, Phường XYZ, Quận N, TP.HCM"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="store-des">Dịch vụ </label>
          <div class="d-flex">
            <input class="form-control" placeholder="Thêm dịch vụ mới" />
            <button mat-mini-fab color="primary" class="ml-2">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <button mat-raised-button color="primary" class="w-100">Tạo mới</button>
      </form>
    </div>
    <div class="col-10 col-md-8 col-lg-6">
      <div
        class="w-100 h-100 rounded-lg"
        style="background-color: rgb(235, 239, 255); cursor: pointer"
        (click)="file.click()"
      >
        <div
          class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
        >
          <mat-icon style="zoom: 4.5">upload</mat-icon>
          <span>Chọn hình ảnh hoặc kéo thả</span>
        </div>
      </div>
      <input type="file" class="d-none" #file />
    </div>
  </div>
</div>
