<div class="main-container container-fluid py-2 d-flex flex-column">
  <h1 class="d-flex align-items-center ml-3 mt-2 mb-3 mat-display-1">
    <mat-icon style="zoom: 1.5">swap_horizontal_circle</mat-icon>
    <span class="ml-3">Lịch sử</span>
  </h1>
  <div class="d-flex justify-content-end mb-2">
    <input class="form-control mx-3 w-100" placeholder="Tìm kiếm" />
    <button mat-raised-button color="primary">
      Tìm kiếm
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="p-3 table-wrapper">
    <table class="table table-hover w-100">
      <thead>
        <tr class="bg-dark text-light text-center">
          <th scope="col">ID</th>

          <th scope="col">Người đặt</th>
          <th scope="col">Kỹ thuật viên</th>
          <th scope="col">Tổng đơn</th>
          <th scope="col">Ngày thực hiện</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          *ngFor="let user of dataService.getUsers(); index as index"
          class="cursor-pointer"
          [routerLink]="user.id"
        >
          <th scope="row">{{ user.id }}</th>
          <td>
            <div class="d-flex flex-column align-items-center">
              <div class="img-wrapper mx-auto">
                <img
                  [src]="
                    'https://randomuser.me/api/portraits/' +
                    (index % 4 ? '' : 'wo') +
                    'men/' +
                    index +
                    '.jpg'
                  "
                  class="h-100 img-fluid img-responsive"
                />
              </div>
              <span>{{ randomName() }}</span>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column align-items-center">
              <div class="img-wrapper mx-auto">
                <img
                  [src]="'assets/' + user.avatar"
                  class="h-100 img-fluid img-responsive"
                />
              </div>
              <span>{{ user.name }}</span>
            </div>
          </td>
          <td>{{ getNumber(300) + 300 }}.000 đ</td>
          <td>
            {{ getNumber(28) + 1 + "/" + (getNumber(8) + 1) + "/2020" }}
          </td>
        </tr>
      </tbody>

      <!-- <ng-template #skeleton>
  <tbody class="text-center">
  <tr *ngFor="let i of [1, 2, 3, 4, 5, 6]">
  <th scope="row">=========</th>
  <td>
  <div class="img-wrapper mx-auto">
  <img
  src="assets/images/search.svg"
  class="h-100 img-fluid img-responsive"
  />
  </div>
  </td>
  <td>==========<br />==========</td>
  <td>==========<br />==========</td>
  <td>==========</td>
  <td>=============<br />=============<br />=============</td>
  </tr>
  </tbody>
  </ng-template> -->
    </table>
  </div>
  <nav class="w-100 d-flex justify-content-end">
    <ul class="pagination">
      <li
        class="page-item"
        [class.active]="selectedPage == 1"
        (click)="selectedPage = 1"
      >
        <span class="page-link" style="cursor: pointer">1</span>
      </li>
      <li
        class="page-item"
        [class.active]="selectedPage == 2"
        (click)="selectedPage = 2"
      >
        <span class="page-link" style="cursor: pointer">2</span>
      </li>
      <li
        class="page-item"
        [class.active]="selectedPage == 3"
        (click)="selectedPage = 3"
      >
        <span class="page-link" style="cursor: pointer">3</span>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
